<a href="https://colab.research.google.com/github/aleksandr329/SCAN_project/blob/RBO_branch/SCAN_%D0%BE%D1%82%D0%BA%D1%80%D1%8B%D1%82%D0%B8%D0%B5_%D1%84%D0%B0%D0%B9%D0%BB%D0%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [77]:
import pandas as pd
import re

# Открытие датасета.

In [79]:
# для открытия и чтения файла с данным c Google.Drive через Google.Colab

from google.colab import drive
drive.mount('/content/drive')
path_DF = '/content/drive/MyDrive/Data_Science/Хакатон_SCAN/Queries.txt'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [80]:
# В файле Queries.txt приведено множество поисковых запросов клиентов продукта СКАН
# (формат: UserId Query - разделитель табуляция).

data = pd.read_csv(path_DF, sep='\t', header=None, names=['UserId', 'Query'])
data.head()

,UserId,Query
0,00000000-0000-0000-0000-000000000000,"((Text(""речные круизы"")) AND (Metadata(SourceC..."
1,00000000-0000-0000-0000-000000000000,"((Text(""Поезд"")) AND (Metadata(SourceCategory(..."
2,00000000-0000-0000-0000-000000000000,"((((Exact(Text(""Яндекс.Директ"")))) OR ((Text(""..."
3,00000000-0000-0000-0000-000000000000,"((Text(""отели"")) AND ((Metadata(SourceTopic({3..."
4,00000000-0000-0000-0000-000000000000,"((((Text(""российских""))) OR ((Location(Id(4C8B..."

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28371 entries, 0 to 28370
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   UserId  28371 non-null  object
 1   Query   28371 non-null  object
dtypes: object(2)
memory usage: 443.4+ KB

In [5]:
data.describe(include=object)

,UserId,Query
count,28371,28371
unique,1085,27593
top,00000000-0000-0000-0000-000000000000,"((Exact(Text(""9ff8d3d3-7624-490e-acd8-bfb2e3cf..."
freq,2219,7

In [6]:
print(f'Найдено дубликатов: {data.duplicated().sum()}')
print(f'Найдено пропусков в данных:\n {data.isna().sum()}')

Найдено дубликатов: 0
Найдено пропусков в данных:
 UserId    0
Query     0
dtype: int64

# Открытие json.

In [81]:
from google.colab import drive
drive.mount('/content/drive')
path_JSON = '/content/drive/MyDrive/Data_Science/Хакатон_SCAN/ThemesWordClouds.json'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [82]:
import json
from pprint import pprint                                    # Импортируем функцию pprint() для печати журнала

with open('ThemesWordClouds.json') as f:                     # Открываем файл и связываем его с объектом "f"
  words_clouds_data = json.load(f)                           # Загружаем содержимое открытого файла в переменную words_clouds_data

# Открываем как датафрейм
#wc_data = pd.DataFrame(words_clouds_data)

pprint(words_clouds_data[15]['WordCloud'])   #Ключей 572 (от 0 до 571)

['займы',
 'кредиты',
 'кредит',
 'заем',
 'ссуда',
 'кредитный',
 'кредитование',
 'программа',
 'линия',
 'предложение',
 'пакет',
 'портфель',
 'договор',
 'соглашение',
 'фабрика',
 'сервис',
 'сумма',
 'объем',
 'получение',
 'кредита',
 'получить',
 'привлечь',
 'банки',
 'банк']

# Прочее.

In [83]:
df = data.copy()

In [7]:
# Фразовые запросы

phrase_queries = ['OrderedText', 'Text', 'OrderedWildcard', 'Wildcard',
                  'OrderedTextAnyDistance', 'InSameSentence', 'InSameParagraph',
                  'Exact']

# Запросы объектов и размерных величин
mesure_queries = ['Id', 'Metadata', 'Name', 'Org', 'Location', 'Trademark',
                  'IndustrialSector', 'IndustrialSectorPositiveTonality',
                  'IndustrialSectorNegativeTonality', 'NewsCluster', 'Date',
                  'Dim', 'AuthorName']

# Запросы фактов, рубрик и прямой речи
fact_queries = ['Speech', 'Event', 'Subject', 'EventType']

# Запросы источников
source_queries = ['Source', 'SourceLevel', 'SourceCategory', 'SourceRegion', 'SourceTopic']

# Остальное
others_queries = ['Language', 'DocumentType']

In [8]:
'''from collections import Counter
>>> cnt = Counter(['red', 'blue', 'red', 'green', 'blue', 'blue'])
>>> dict(cnt)'''

"from collections import Counter\ncnt = Counter(['red', 'blue', 'red', 'green', 'blue', 'blue'])\ndict(cnt)"

In [9]:
'''popular_query = []
for query in data.Query:
  query.lower()
  find = query.find("")'''

'popular_query = []\nfor query in data.Query:\n  query.lower()\n  find = query.find("")'

In [12]:

import re
#import Stemmer

#STEMMER = Stemmer.Stemmer('russian')

def tokenize(text):
    return text.split()

#def lowercase_filter(tokens):
    #return [token.lower() for token in tokens]

#def punctuation_filter(tokens):
    #return [PUNCTUATION.sub('', token) for token in tokens]

def stopword_filter(tokens):
    return [token for token in tokens if token not in STOPWORDS]

def stem_filter(tokens):
    return STEMMER.stemWords(tokens)

def analyze(text):
    tokens = tokenize(text)
    #tokens = lowercase_filter(tokens)
    #tokens = punctuation_filter(tokens)
    #tokens = stopword_filter(tokens)
    tokens = stem_filter(tokens)

    return [token for token in tokens if token]

Извлечение текста запроса.

In [85]:
# удаляем скобки
data['Query'] = data['Query'].apply(lambda query: query.replace('(', ' '))
data['Query'] = data['Query'].apply(lambda query: query.replace(')', ' '))

In [86]:
# выделение текста запроса через регулярку
# не организации, не персоны, не локации = ['Org', 'Name', 'Location']

def get_txt(query):
  if 'Org' or 'Name' or 'Location' not in query:  # не организации, не персоны, не локации = ['Org', 'Name', 'Location']
    query.split(' ')
    pattern = r'["]\S+\s*\S+.*["]'
    result = re.findall(pattern, query)
    return result
  else:
    return None

data['Text'] = data['Query'].apply(lambda query: get_txt(query))

In [87]:
data.head(60)

,UserId,Query,Text
0,00000000-0000-0000-0000-000000000000,"Text ""речные круизы"" AND Metadata SourceC...","[""речные круизы""]"
1,00000000-0000-0000-0000-000000000000,"Text ""Поезд"" AND Metadata SourceCategory ...","[""Поезд""]"
2,00000000-0000-0000-0000-000000000000,"Exact Text ""Яндекс.Директ"" OR Text ""...","[""Яндекс.Директ"" OR Text ""на наш Telegra..."
3,00000000-0000-0000-0000-000000000000,"Text ""отели"" AND Metadata SourceTopic {3...","[""отели""]"
4,00000000-0000-0000-0000-000000000000,"Text ""российских"" OR Location Id 4C8B...","[""российских""]"
5,00000000-0000-0000-0000-000000000000,"Text ""Москва"" AND Metadata SourceCategory...","[""Москва""]"
6,00000000-0000-0000-0000-000000000000,"Text ""Москва"" AND Metadata SourceCategory...","[""Москва""]"
7,00000000-0000-0000-0000-000000000000,"Text ""ПМЭФ 2023"" AND Metadata SourceLeve...","[""ПМЭФ 2023""]"
8,00000000-0000-0000-0000-000000000000,"Org Id 8CBC8 AND NOT Text ""вагенровцы""...","[""вагенровцы"" AND NOT Location Id 477C33 ..."
9,00000000-0000-0000-0000-000000000000,Metadata Id 825CFC OR Metadata Id 825...,"[""прогноз ввп"" OR Text ""бюджет РФ"" OR Te..."
10,00000000-0000-0000-0000-000000000000,"Org Id B68B11D OR Text ""Sinara Financ...","[""Sinara Financial Corporation"" OR Text ""ин..."
11,00000000-0000-0000-0000-000000000000,"Exact Text ""ОСАГО"" AND Metadata SourceL...","[""ОСАГО""]"
12,00000000-0000-0000-0000-000000000000,"Org Id B68B11D OR Text ""инвестбанк си...","[""инвестбанк синара"" OR Text ""инвестиционны..."
13,00000000-0000-0000-0000-000000000000,"Text ""питерский экономический форум"" OR ...","[""питерский экономический форум"" OR Text ""s..."
14,00000000-0000-0000-0000-000000000000,Name Id 3FB21 OR Org Id 8D1F5 OR ...,"[""справедливоросы"" OR Text ""фракция СР"" ..."
15,00000000-0000-0000-0000-000000000000,"Org Id 8F921 OR Text ""NLMK"" AND...","[""NLMK"" AND NOT InSameSentence ""рынок акци..."
16,00000000-0000-0000-0000-000000000000,"Org Id 1472700 AND Text ""сельское хозя...","[""сельское хозяйство"" OR Text ""аграрии"" O..."
17,00000000-0000-0000-0000-000000000000,Name Id 3F7D6 OR Org Id 8D1E5 OR Te...,"[""Либерально-демократической партии России""]"
18,00000000-0000-0000-0000-000000000000,"Text ""Электроснабжение"" OR Text ""Электр...","[""Электроснабжение"" OR Text ""Электроэнергия..."
19,00000000-0000-0000-0000-000000000000,"Text ""банк"" AND NOT Header Text ""банк"" ...","[""банк"" AND NOT Header Text ""банк""]"
20,00000000-0000-0000-0000-000000000000,"Text ""банк"" AND NOT InTitle Text ""банк""...","[""банк"" AND NOT InTitle Text ""банк""]"
21,00000000-0000-0000-0000-000000000000,"Org Id 7C436 AND Text ""газпром"" AND Na...","[""газпром"" AND Name Id 49096 AND Text ""га..."
22,00000000-0000-0000-0000-000000000000,"Org Id 8C748 ,main AND Org Id 8C748 ...","[""актик спг"" OR Text ""западно-тамбейское ..."
23,00000000-0000-0000-0000-000000000000,"Text ""газпром"" OR Metadata Id 1713D0D...","[""газпром"" OR Metadata Id 1713D0D OR ..."
24,00000000-0000-0000-0000-000000000000,"Org Id 1472700 OR Text ""русский даво...","[""русский давос"" OR Text 2,""экономический..."
25,00000000-0000-0000-0000-000000000000,Metadata Id 1713D0D OR Metadata Id...,"[""конкуренция"" AND Org Id 84ABD OR Org Id..."
26,00000000-0000-0000-0000-000000000000,"Org Id 682E09 OR OrderedText ""государ...","[""государственная дума"" OR Text ""депутат го..."
27,00000000-0000-0000-0000-000000000000,"Org Id 7C44B ,main AND Org Id 7C44B A...","[""Санкции""]"
28,00000000-0000-0000-0000-000000000000,"Text ""спг"" AND Metadata SourceLevel 1 A...","[""спг""]"
29,00000000-0000-0000-0000-000000000000,"Org Id 85D4AF9 OR Text ""Гостех"" ...","[""Гостех"" AND NOT Exact Text ""СПГ""]"
30,00000000-0000-0000-0000-000000000000,"Org Id 6844F1 OR Exact Text ""MGNT"" ...","[""MGNT"" AND Exact Text ""moex"" OR Org..."
31,00000000-0000-0000-0000-000000000000,Org Id 6533C48 OR Name Id 68C9EA ...,"[""Marathon Group"" OR Name ""]"
32,00000000-0000-0000-0000-000000000000,"Org Id 682E09 OR OrderedText ""государ...","[""государственная дума"" OR Text ""депутат го..."
33,00000000-0000-0000-0000-000000000000,"Text ""Событие"" AND Metadata SourceCategor...","[""Событие""]"
34,00000000-0000-0000-0000-000000000000,"Wildcard ""клиринг*"" OR Wildcard ""депо...","[""клиринг*"" OR Wildcard ""депозитар*""]"
35,00000000-0000-0000-0000-000000000000,"Text ""экспортер россии"" OR Text ""экспо...","[""экспортер россии"" OR Text ""экспортные пос..."
36,00000000-0000-0000-0000-000000000000,"Text ""Киберспорт"" AND Metadata SourceCateg...","[""Киберспорт""]"
37,00000000-0000-0000-0000-000000000000,"Text ""радио"" AND Metadata SourceCategory ...","[""радио""]"
38,00000000-0000-0000-0000-000000000000,"Text 2,""акция в поддержку россии"" OR ...","[""акция в поддержку россии"" OR OrderedText ..."
39,00000000-0000-0000-0000-000000000000,"Org Id 7C436 OR Text ""газпром"" AND ...","[""газпром""]"
40,00000000-0000-0000-0000-000000000000,"InSameSentence ""выборы соответствие федер...","[""выборы соответствие федеральному законодател..."
41,00000000-0000-0000-0000-000000000000,"Text 2,""акция в поддержку россии"" OR ...","[""акция в поддержку россии"" OR OrderedText ..."
42,00000000-0000-0000-0000-000000000000,Metadata Id 9C785B7 OR Metadata Id 82...,"[""раздельный сбор отходов"" OR Text ""обращен..."
43,00000000-0000-0000-0000-000000000000,"Org Id 8CC62 OR Text ""БАНК "" OR Or...","[""БАНК "" OR Org Id 2CA95C8 OR Trademark..."
44,00000000-0000-0000-0000-000000000000,"Text ""Банки"" AND Metadata Source {367,36...","[""Банки""]"
45,00000000-0000-0000-0000-000000000000,"Org Id 9079D7E OR Text ""Лотереи"" ...","[""Лотереи"" AND NOT Text ""тираж""]"
46,00000000-0000-0000-0000-000000000000,"Text ""и"" AND NOT Org Id 8CD98 AND NO...",[]
47,00000000-0000-0000-0000-000000000000,Metadata Id 9C785B7 OR Metadata Id 8...,"[""раздельный сбор отходов"" OR Text ""обращен..."
48,00000000-0000-0000-0000-000000000000,"Text ""челябинцы"" OR OrderedText ""жители ...","[""челябинцы"" OR OrderedText ""жители Челябин..."
49,00000000-0000-0000-0000-000000000000,"Text ""Искусственный интеллект"" OR Exac...","[""Искусственный интеллект"" OR Exact Text ""Н..."
50,00000000-0000-0000-0000-000000000000,"Org Id 7C0FC OR Exact Text ""метчел...","[""метчел"" OR Exact Text ""метчил"" AND N..."
51,00000000-0000-0000-0000-000000000000,"Text ""розничная торговля"" AND Metadata So...","[""розничная торговля""]"
52,00000000-0000-0000-0000-000000000000,Org Id 773042E OR Org Id 701768 ...,"[""Солофарм"" OR Text ""Solopharm"" OR T..."
53,00000000-0000-0000-0000-000000000000,"Org Id 8B6E8 OR Text ""Промсвязьбанк"" ...","[""Промсвязьбанк""]"
54,00000000-0000-0000-0000-000000000000,"Text ""ветеринария"" OR Text ""ветеринар...","[""ветеринария"" OR Text ""ветеринарный""]"
55,00000000-0000-0000-0000-000000000000,"Org Id 8D8DC ,main AND Org Id 8D8DC ...","[""ветеринария"" OR Text ""электронная сертифи..."
56,00000000-0000-0000-0000-000000000000,Location Id 4C8BB OR Location Id 5B308...,"[""сотрудничество""]"
57,00000000-0000-0000-0000-000000000000,"Text ""казахстан"" AND Metadata SourceLeve...","[""казахстан""]"
58,00000000-0000-0000-0000-000000000000,"Text ""правительство"" AND Location Id 5781...","[""правительство"" AND Location Id 5781B OR..."
59,00000000-0000-0000-0000-000000000000,"Text ""метанол"" AND Metadata SourceCategor...","[""метанол""]"

In [76]:
data.loc[55].Query

'      Org Id 8D8DC ,main  AND Org Id 8D8DC     OR  Text "ветеринария"   OR  Text "электронная сертификация"   OR  Text "ФГИС меркурий"   OR  Text "болезни животных"   OR  Text "фальсификация"   OR  Text "пшеница"   OR  Text "зерно"   OR  Text "соя"   OR   Name Id 3F51A ,main  AND Name Id 3F51A     OR   Org Id 682FAC ,main  AND Org Id 682FAC       OR    Text "экспорт"   OR  Text "импорт"   OR  Text "производство"    AND   Text "свинина"   OR  Text "говядина"   OR  Text "птица"    AND  IndustrialSector Id 5EB36D8      AND   Metadata Source {367,368,36A,36B,D4E,D52,D54,271C,2725,2749,274E,2F3A,2F44,2F45,2F49,3013,3051,353A,353C,40D7,436A,5398,5399,539A,539B,539C,53BB,581A,5820,5DF8,701D,7421,75D9,75DA,75DB,75DC,75DD,98EC,AB23,B8E6,DF9F,11D21,12423,124BC,1293A,5A2,8D6,955,CC0,2F9C,2FA1,32D7,4158,4203,438C,46A8,5215,620F,625C,6261,6267,626C,748A,790C,79C8,A4F2,C2C2,EE02,113CE,2BE2,4417,EF,168,185,193,194,195,197,19C,20B,20D,223,227,228,22A,244,289,308,33C,41F,4D6,776,8F9,D60,EE3,2D2C,2D3D,2D3E,2E24,2E25,3545,3841,3ECF,4373,4A36,4A63,54BD,5F94,60B2,6C93,BF2B,C128,10925,10BF1,12425,E,4E1,560,666,691,776,837,838,839,863,8A3,8EA,B02,D53,D54,D5F,1021,2B66,2D23,2E24,30E0,3191,33B0,342E,3545,3549,364C,3651,36A7,3760,37C8,3915,3BA5,3BAA,3C3F,3C48,3C90,3CC6,3CC7,4056,4158,4213,427F,44E9,54F9,57BD,57ED,5800,59A6,59DF,5CE0,629D,670C,69A8,6BB1,6BF4,71D9,7526,7AB1,8B52,AFD7,AFDC,B3E7,C2C2,F64E,10149,10287,104D4,118A3,12B14,2747,2BB7,5DA0,3550,41AA,41E0,51B,3834,4F57,4373,D4D,4746,6811,9BA,CC1,CC8,2759,3016,3568,3BE8,3C8A,3C99,60F4,C128,49B,D5F,291,365,6DA,74A,957,A7F,2BF3,2FFD,3498,34E2,388A,3C79,3D7A,41C3,4635,4688,46A8,5DF8,6266,6269,6272,62CC,794E,8484,A466,10925,48,243,582,5E7,8CC,E12,2756,319E,351D,3CA3,3CF6,5D3D,7C,8E,15B,15F,214,22A,41E,64E,7C1,96D,30A8,30DD,31EA,33E1,3420,352D,37DC,3A0F,462D,481F,5AE2,5BFA,752C,7E5E,84D7,B3E7,CE3B,F64E,71,23A,23B,23D,23F,3AB,49A,692,7B2,2751,2D65,30B4,319A,37E3,3FB8,40B3,4D6E,4D72,4D73,4D75,4D7C,5ED5,6FDE,7BBE,7F,23E,308,3A7,999,E0E,F35,2757,2F99,308F,47BB,4D4C,629D,7327,7938,7A7F,7A80,7C90,61,7D,16A,23C,26F,48E,4DE,593,66E,674,6D3,7B8,861,8C3,9FE,2753,2BCA,319D,3492,3CC6,3CC7,3E91,4257,4775,4D4F,4D66,4D80,5A47,5B6F,6B1E,70A4,75FA,7C87,1282F,E,5F,79,7A,94,A7,164,1C0,239,458,45E,4AA,4B6,5D4,614,677,81B,863,87D,8CE,A7B,E08,E0A,E0C,E5F,2755,2B55,2BC7,2C73,2E7F,2F97,3073,3083,30B9,32BF,35AA,3726,3EAF,4121,433D,444F,4510,453D,49C4,4D7D,5C71,5DB8,5ED2,610A,6177,6D97,6FDA,6FDC,7124,715A,7162,A747,DF4F,10149,104D4,10BF1,2F,4E,52,321,F8A,2765,2B96,3522,3621,38B0,3C20,3D5A,47B3,55A3,7BE3,5C7,F39,2757,51D0,5BA7,5F57,77B6,4A4F,4DF9,5F4C,74FC,7C85}    AND NOT DocumentType {0,1,3,5}     '